{% extends 'base.html.twig' %}

{# description du contenu du titre #}
{% block title %}
    {{ string }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body  %}
    {# description contenu du stylesheet avec un lien boostrap #}
    <h1 class="text-center my-5">Traitement du tableau de string </h1>

    {% set tabString = tabString %}
    {% set taille = tabString|length %}
    {% set half = ((tabString|length)/2)|round(0,'floor') %} {# round permet d arrondir ceil cest arrondir une valeur au dessus  floor c est en dessous#}


    {#affichage du premier élement du tableau de string DEBUT#}

    <div class="d-flex mt-2">
        <span class="d-inline-block p-2  text-center  ml-5 text-white bg-dark w-25">Premier element du tableau de string </span>
        <span class="d-inline-block mx-5 text-center  text-primary ">=></span>
        <span class="d-inline-block pt-1 text-center bg-white border border-dark w-25 font-weight-bold">{{ tabString|first }}</span>
    </div>
    {#FIN#}

    {# affichage du tableau de string DEBUT#}
    {# boucle sur le tableau indicé #}

    <div class="d-flex mt-5" >
        <div class="w-25 align-self-center">
            <span class="d-inline-block p-2  text-center  ml-5 text-white bg-dark ">Tableau des strings </span>
        </div>
        <span class="d-inline-block mr-5 text-center  text-primary align-self-center">=====></span>
        <div class="d-flex justify-content-around border border-dark w-50 p-2 bg-dark text-white ">
            <div class="w-auto">
                <ul>
                    {% for i in 0..(half-1)   %}
                        <li class="font-weight-bold">{{ tabString[i]|capitalize }}</li>
                    {% endfor %}

                </ul>
            </div>
            <div class="w-auto">
                <ul>
                    {% for i in half..(taille-1)  %}
                        <li class="font-weight-bold">{{ tabString[i]|capitalize }}</li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
    {#FIN#}


    <div
            id="vote" class="text-center pt-5 mt-5">
        <h5  class="d-block text-primary  w-25 mb-1 mx-auto font-weight-bold" >Vote</h5>
        <span id="countLike" class="btn btn-secondary" >0</span>
        <span id="like" class="btn btn-primary" >Like</span>
        <button id="add" class="btn btn-primary" type="button">+</button>
        <button id="remove"  class="btn btn-primary" type="button">-</button>
        <span  id="dislike" class="btn btn-primary" >dislike</span>
        <span id="countDislike" class="btn btn-secondary" >0</span>
    </div>

{% endblock %}